form {
    .event-id {
        color: #3788d8;
        margin-bottom: 0.5em;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;

        label {
            font-size: 0.8rem;
            color: #b49e9e;
        }
    
        input.form-control,
        textarea.form-control {
            width: 60%;
            max-width: 95%;
            margin: 0.5em 0;
            padding: 0.5em;
            color: #b49e9e;
            border: 1px solid #3788d8;
            border-radius: 3px;
        }
    
        .form-alert {
            padding: 0.5em 0;
            color: #ff0a0a;
        }
    }
    
    button {
        padding: 0.5em 1.5em;
        color: #9c7e7e;
        border: 1px solid #3788d8;
        transition: 0.3s;
        border-radius: 1px;
        margin-left: 3px;

        &:hover {
            color: #3788d8;
        }
    }
}
